/*为K7提供css样式*/
body{
  margin: 0px;
}

nav{
  box-shadow: 0px 2px 2px #d9d6cf;
}

ul{
  /*width: 100%;*/
  border-top-style: solid;
  border-top-color: #dc0000;
  list-style-type: none;
  /*height: 35px;*/
  overflow: hidden;/*为元素添加自适应高度*/
}

li{
  float: left;
}

a{
  display: block;
  width: 60px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;/*删去下划线*/
}

.active{
  color: #ffffff;
  background-color: #dc0000;
}

li a:hover{
  color: #ffffff;
  background-color: #dc0000;
}

.about{
  float: right;
  margin-right: 30px;
}
