/*为K7提供css样式*/
body{
  margin: 0px;
}

nav{
  box-shadow: 0px 2px 2px #d9d6cf;
}

ul{
  /*width: 100%;*/
  border-top-style: solid;
  border-top-color: #dc0000;
  list-style-type: none;
  /*height: 35px;*/
  overflow: hidden;/*为元素添加自适应高度*/
}

ul li{
  float: left;
}

li a{
  display: block;
  width: 60px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;/*删去下划线*/
  color: black;
  font-family: "Microsoft Yahei";
}

.active{
  color: #ffffff;
  background-color: #dc0000;
}

li a:hover{
  color: #ffffff;
  background-color: #dc0000;
}

.about{
  float: right;
  margin-right: 30px;
}

/*以下是下拉菜单相关css*/
#dropdown{
  position: absolute;
  width: 110px;
  list-style-type: none;
  left:300px;
  top:55px;
  box-shadow: 0px 2px 2px #d9d6cf;
  font-size: 15px;
  /*border: 1px solid #dc0000;*/
}

#dropdown a{
  float: none;
  width: 100px;
  margin: 0px;
}
.no{
  display: none;
}

.show{
  display: block;
}
.art{
  border:1px solid #ccc;
  border-width:1px 0px;
}/*优化菜单栏*/
